section.content {
    display: flex;
    background-color: var(--bg-fourth);
}

h3, h6, h5 {
    font-weight: 500;
}

section.content div.main-content {
    flex-grow: 2;
}

section.content div.main-content div.survey-details {
    position: relative;
    box-shadow: 0 1px 5px #bbb5;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: var(--bg-primary);
}

section.content div.main-content button.try-survey {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

section.content div.survey-details .survey-title {
    font-size: 20px;
    text-align: center;
}

section.content div.survey-details .survey-description {
    text-align: center;
}

section.content div.survey-items-container {
    position: relative;
    padding: 20px;
    display: grid;
    grid-template-columns: calc(33% - 20px) calc(33% - 20px) calc(33% - 20px);
    justify-content: space-evenly;
    grid-template-rows: max-content;
    row-gap: 20px;
}

section.content form .publish-survey-button {
    position: absolute;
    padding: 7px 20px;
    border-radius: 4px;
    background-color: var(--btn-primary);
    bottom: 20px;
    right: 30px;
    outline: none;
    border: none;
    font-size: 14px;
    color: white;
    cursor: pointer;
    border: 1px solid var(--btn-primary);
}

section.content form .publish-survey-button:hover {
    background-color: transparent;
    color: var(--btn-primary);
}

section.content div.main-content .create-survey-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: var(--btn-secondary);
    border: none;
    border-radius: 5px;
    filter: opacity(.4);
    cursor: pointer;
    color: white;
    padding: 10px;
}

section.content div.main-content .create-survey-item:hover {
    filter: brightness(1.07);
}

section.content div.main-content .create-survey-item svg {
    width: 50px;
    height: 50px;
}   

section.content div.main-content {
    position: relative;
}

section.content p.no-survey-yet {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 400;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-align: center;
    color: #7775;
}