:root {
    --text-primary: rgba(63, 64, 77, 0.835);
    --bg-primary: #ffffff;
    --bg-secondary: #47e2d0;
    --bg-tertiary: #47bde2;
    --bg-fourth: #f0f0f0;
    --btn-primary: #50577a;
    --btn-secondary: #41475e;
    --btn-tertiary: #ffffff;
    --box-shadow: #2a2b3677;
}

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    font-size: small;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 5px;
    background-color: var(--bg-light-dark);
}

::-webkit-scrollbar-thumb{
    background-color: #bebdbd;
}