:root {
    --text-primary: #3f404dd5;
    --bg-primary: #ffffff;
    --bg-secondary: #47e2d0;
    --bg-tertiary: #47bde2;
    --bg-fourth: #f0f0f06e;
    --btn-primary: #50577a;
    --btn-secondary: #41475e;
    --btn-tertiary: #ffffff;
    --box-shadow: #2a2b3634;
}

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
}

p, button, input, label, a {
    font-size: small;
}

::-webkit-scrollbar{
    width: 5px;
    background-color: var(--bg-light-dark);
}

::-webkit-scrollbar-thumb{
    background-color: #bebdbd;
}

section.content {
    position: relative;
    z-index: 1;
}

section.content, header {
    margin: 0 auto;
    max-width: 1980px;
}

body {
    background-color: var(--bg-fourth);
}