body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: green; */
    overflow: hidden; 
}

header {
    position: fixed;
    top: 50;
    /* background-color: yellow; */
}

section.content {
    padding: 0;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: var(--bg-primary);
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: fixed;
    top: 50px;
}

section.content .left-side-container {
    width: 40ch;
    min-width: 30ch;
    height: 100%;
    padding: 15px;
    /* background-color: purple; */
    position: sticky;
    top: 0;
}

section.content .left-container {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 20px 0px;
    /* background-color: red; */
}

section.content .extract-blog {
    width: 100%;
    margin: auto;
}

section.content .extract-blog h1 {
 margin-bottom: 20px;
}

section.content .extract-blog .extract-blog-container .each-blog {
    width: 100%;
    background-color: var(--bg-fourth);
    border-radius: 3px;
    margin: 3px 0px;
    padding: 10px;
}

section.content .extract-blog .extract-blog-container .each-blog p {
    width: 100%;
    max-width: 100%;
    text-indent: 20px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

section.content .extract-blog .extract-blog-container .each-blog h4 {
    width: 100%;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

section.content .extract-blog .extract-blog-container .container-btn-reaction {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

/* right part of the blog */
main.container-blog {
    width: calc(100% - 40ch);
    height: calc(100vh - 50px);
    background-color: var(--bg-fourth);
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: scroll;
}

main.container-blog .create-blog {
    width: 80%;
    min-width: 300px;
    height: max-content;
    margin-top: 20px;
}

main.container-blog .container-all-tools {
    min-width: 100px;
    border-radius: 3px;
    padding: 15px;
    background-color: var(--bg-primary);
    box-shadow: 0px 5px 10px var(--box-shadow);
    display: flex;
    justify-content: space-around;
}

.acronym-user {
    width: 35px;
    min-width: 35px;
    max-width: 35px;
    height: 35px;
    font-size: 1.2rem;
    color: var(--bg-primary);
    padding: 3px;
    padding: 3px;
    border-radius: 5px;
    background-color: var(--btn-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-all-tools textarea {
    width: calc(100% - 10px);
    min-width: calc(100% - 10px);
    max-width: calc(100% - 10px);
    height: 35px;
    min-height: 35px;
    max-height: 35px;
    background-color: var(--bg-fourth);
    border: none;
    border-radius: 2px;
    outline: none;
    padding: 5px;
    padding: 5px;
}

/* blogs */
.list-blogs {
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-single-blog {
    width: 80%;
    background-color: var(--bg-primary);
    box-shadow: 0px 5px 10px var(--box-shadow);
    border: .5px solid var(--bg-fourth);
    border-radius: 3px;
    margin-bottom: 15px;
}

.head-blog {
    width: 100%;
    height: 50px;
    height: 50px;
    padding: 10px 15px;
    background-color: var(--bg-primary);
    border-bottom: .5px solid var(--bg-fourth);
    border-radius: 3px 3px 0px 0px;
    display: flex;
    justify-content: space-between;
}

.info-user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.author-name {
    text-wrap: nowrap;
    font-weight: 600;
}

.date-pub {
    color: var(--box-shadow);
    font-size: smaller;
}

.username-and-date {
    margin-left: 10px;
}

.plus-info { 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.three-dots {
    width: 20px;
    text-align: right;
    margin-right: 0px;
    margin-right: 0px;
    font-size: larger;
    cursor: pointer;
}

.pop-up {
    width: 100px;
    padding: 10px 0px;
    background-color: var(--bg-primary);
    border-radius: 3px;
    box-shadow: 0px 5px 10px var(--box-shadow);
    border-top: .5px solid var(--bg-fourth);
    position: absolute;
    top: 50px;
    right: -15px;
}

.arrow {
    width: 15px;
    height: 15px;
    background-color: var(--bg-primary);
    transform: rotate(45deg);
    border-top: .5px solid var(--bg-fourth);
    border-left: .5px solid var(--bg-fourth);
    box-shadow: -5px -5px 15px var(--bg-fourth);
    position: absolute;
    right: 10px;
    top: -8px;
}

.pop-up form {
    width: 100%;
}

.pop-up form input {
    width: 100%;
    border: none;
    border-radius: 0px;
    padding: 3px 25px 3px 15px;
    text-align: left;
    margin: .5px 0px;
    background-color: transparent;
    cursor: pointer;
}

.pop-up form input:hover {
    background-color: var(--bg-fourth);
}

section.content div.container-single-blog .content-post {
    width: 100%;
    min-height: 100px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-fourth);
}


section.content div.container-single-blog .content-post > p {
    width: 95%;
    text-align: justify;
    line-height: 1.7;
}


.container-btn {
    width: 100%;
    padding: 7px 15px;
    border-top: .5px solid var(--bg-fourth);
    display: flex;
    justify-content: space-between;
}

.btn-reaction {
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-reaction {
    height: 25px;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form.svg-thumb {
    width: 25px;
    height: 25px;
    /* background-color: red; */
    margin-right: 5px;
    border-radius: 3px;
}

.svg-thumb button {
    width: 100%;
}

.btn-comment {
    background-color: var(--btn-primary);
    color: var(--bg-primary);
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.see-all-comments {
    background-color: var(--bg-primary);
    border-radius: 0px 0px 3px 3px;
    padding: 0px 15px 10px 15px;
}

.see-comments, .see-comments span {
    color: #252525;
    font-size: smaller;
    cursor: pointer;
}

/* pop up blog creation  */
section.content .container-popup  form.form {
    width: 43rem;
    max-width: 43rem;
    height: 60vh;
    max-height: 60vh;
    border-radius: 5px;
    background-color: white;
    /* box-shadow: 5px 5px 5px var(--box-shadow); */
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation-name: show-pop-up;
    animation-duration: .3s;
}

@keyframes show-pop-up {
    0% {
        transform: scale(0);
    }    
    100% {
        transform: scale(1);
    }
}

section.content .container-popup .close-popup-to-create-new-post {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: larger;
    background-color: var(--bg-primary);
    display: flex;
    justify-content: center;
    align-items: center ;
    cursor: pointer;
    position: absolute;
    top: calc((100vh - 67vh) / 2);
    right: calc((100vw - 49rem) / 2);
}

section.content .container-popup form .header-create-post-user-info {
    width: 250px;
    width: max-content;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.content .container-popup form textarea {
    width: 100%;
    min-width: 100%;
    height: 100px;
    max-height: max-content;
    border: .5px solid var(--box-shadow);
    margin-top: 30px;
    border-radius: 3px;
    padding: 5px;
    outline: none;
}

section.content .container-popup form .container-bg-choice {
    margin-top: 20px;
    width: 100%;
}

section.content .container-popup form .container-bg-choice p {
    font-size: smaller;
    margin-bottom: 10px;
}

section.content .container-popup form .bg-choice {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.content .container-popup form .bg-choice .color {
    width: 50px;
    height: 50px;
    background-color: var(--box-shadow);
    border-radius: 3px;
    cursor: pointer;
}

section.content .container-popup form .container-btn- {
    width: calc(100% - 20px);
    border-radius: 0px 0px 5px 5px;
    margin-top: 20px;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}

section.content .container-popup form .container-btn- button {
    color: var(--bg-primary);
    background-color: var(--btn-primary);
    border: none;
    border-radius: 3px;
    padding: 5px 15px;
    cursor: pointer;
}