* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
}

section.content {
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-primary);
    position: sticky;
    top: 0;
}

section.content .left-side-container {
    width: 40ch;
    min-width: 30ch;
    padding: 15px;
    /* background-color: red; */
    position: sticky;
    top: 0;
}

section.content .left-container {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 20px 0px;
}

section.content .extract-blog {
    width: 100%;
    margin: auto;
}

section.content .extract-blog h1 {
 margin-bottom: 20px;
}

section.content .extract-blog .extract-blog-container .each-blog {
    width: 100%;
    background-color: var(--bg-fourth);
    border-radius: 3px;
    margin: 3px 0px;
    padding: 10px;
}

section.content .extract-blog .extract-blog-container .each-blog p {
    width: 100%;
    max-width: 100%;
    text-indent: 20px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

section.content .extract-blog .extract-blog-container .each-blog h4 {
    width: 100%;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

section.content .extract-blog .extract-blog-container .container-btn-reaction {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

/* right part of the blog */
main.container-blog {
    width: calc(100% - 40ch);
    height: 100%;
    background-color: var(--bg-fourth);
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: scroll;
}

.create-blog {
    width: 80%;
    min-width: 300px;
    height: max-content;
    margin-top: 20px;
}

.container-all-tools {
    min-width: 100px;
    border-radius: 3px;
    padding: 15px;
    background-color: var(--bg-primary);
    box-shadow: 0px 5px 10px var(--box-shadow);
    display: flex;
    justify-content: space-around;
}

.acronym-user {
    width: 35px;
    min-width: 35px;
    max-width: 35px;
    height: 35px;
    font-size: 1.2rem;
    color: var(--bg-primary);
    padding: 3px;
    padding: 3px;
    border-radius: 5px;
    background-color: var(--btn-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-all-tools textarea {
    width: calc(100% - 10px);
    min-width: calc(100% - 10px);
    max-width: calc(100% - 10px);
    height: 35px;
    min-height: 35px;
    max-height: 35px;
    background-color: var(--bg-fourth);
    border: none;
    border-radius: 2px;
    outline: none;
    padding: 5px;
    padding: 5px;
}

/* blogs */
.list-blogs {
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-single-blog {
    width: 80%;
    background-color: var(--bg-primary);
    box-shadow: 0px 5px 10px var(--box-shadow);
    border: .5px solid var(--bg-fourth);
    border-radius: 3px;
    margin-bottom: 15px;
}

.head-blog {
    width: 100%;
    height: 50px;
    height: 50px;
    padding: 10px 15px;
    background-color: var(--bg-primary);
    border-bottom: .5px solid var(--bg-fourth);
    border-radius: 3px 3px 0px 0px;
    display: flex;
    justify-content: space-between;
}

.info-user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.author-name {
    text-wrap: nowrap;
    font-weight: 600;
}

.date-pub {
    color: var(--box-shadow);
    font-size: smaller;
}

.username-and-date {
    margin-left: 10px;
}

.plus-info { 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.three-dots {
    width: 20px;
    text-align: right;
    margin-right: 0px;
    margin-right: 0px;
    font-size: larger;
    cursor: pointer;
}

.pop-up {
    width: 100px;
    padding: 10px 0px;
    background-color: var(--bg-primary);
    border-radius: 3px;
    box-shadow: 0px 5px 10px var(--box-shadow);
    border-top: .5px solid var(--bg-fourth);
    position: absolute;
    top: 50px;
    right: -15px;
}

.arrow {
    width: 15px;
    height: 15px;
    background-color: var(--bg-primary);
    transform: rotate(45deg);
    border-top: .5px solid var(--bg-fourth);
    border-left: .5px solid var(--bg-fourth);
    box-shadow: -5px -5px 15px var(--bg-fourth);
    position: absolute;
    right: 10px;
    top: -8px;
}

.pop-up form {
    width: 100%;
}

.pop-up form input {
    width: 100%;
    border: none;
    border-radius: 0px;
    padding: 3px 25px 3px 15px;
    text-align: left;
    margin: .5px 0px;
    background-color: transparent;
    cursor: pointer;
}

.pop-up form input:hover {
    background-color: var(--bg-fourth);
}

.content {
    width: 100%;
    min-height: 100px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-fourth);
}


.content > p {
    width: 90%;
    text-align: center;
}


.container-btn {
    width: 100%;
    padding: 7px 15px;
    border-top: .5px solid var(--bg-fourth);
    display: flex;
    justify-content: space-between;
}

.btn-reaction {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-reaction {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.svg-thumb {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    border-radius: 3px;
}

.svg-thumb button {
    width: 100%;
}

.btn-comment {
    background-color: var(--btn-primary);
    color: var(--bg-primary);
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.see-all-comments {
    background-color: var(--bg-primary);
    border-radius: 0px 0px 3px 3px;
    padding: 0px 15px 10px 15px;
}

.see-comments, .see-comments span {
    color: #252525;
    font-size: smaller;
    cursor: pointer;
}

/* pop blog creation  */

section.content .pop-up-blog-creation {
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    background-color: #0000006e;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

section.content .pop-up-blog-creation form {
    width: 70%;
    max-width: 43rem;
    max-height: 80vh;
    border-radius: 5px;
    background-color: white;
    box-shadow: 5px 5px 5px var(--box-shado w);
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    animation-name: show-pop-up;
    animation-duration: .3s;
}

@keyframes show-pop-up {
    0% {
        transform: scale(0);
    }    
    100% {
        transform: scale(1);
    }
}

section.content .pop-up-blog-creation form span {
    background-color: var(--bg-fourth);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center ;
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
}

section.content .pop-up-blog-creation form .header-blog-creation {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section.content .pop-up-blog-creation form textarea {
    width: 95%;
    min-width: 95%;
    height: 100px;
    max-height: max-content;
    border: .5px solid var(--box-shadow);
    border-radius: 3px;
    padding: 5px;
    outline: none;
    margin-top: 30px;
}

section.content .pop-up-blog-creation form .container-bg-choice {
    margin-top: 20px;
    width: 95%;
}

section.content .pop-up-blog-creation form .container-bg-choice p {
    font-size: smaller;
    margin-bottom: 10px;
}

section.content .pop-up-blog-creation form .bg-choice {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.content .pop-up-blog-creation form .bg-choice .color {
    width: 50px;
    height: 50px;
    background-color: var(--box-shadow);
    border-radius: 3px;
    cursor: pointer;
}

section.content .pop-up-blog-creation form .container-btn- {
    width: calc(100% - 20px);
    border-radius: 0px 0px 5px 5px;
    margin-top: 20px;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}

section.content .pop-up-blog-creation form .container-btn- button {
    color: var(--bg-primary);
    background-color: var(--btn-primary);
    border: none;
    border-radius: 3px;
    padding: 5px 15px;
    cursor: pointer;
}