/* section.content {
    background-color: var(--bg-fourth);
} */

.tools-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

section.content button.btn-create-new-students-group {
    padding: 5px;
}

.create-new-students-group-conjuring {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

select,.input-search-conjuring {
    width: 25%;
}

select {
    text-align: center;
    border: 1px solid #dddd;
}

svg {
    width: 20px;
    height: 20px;
}

select,input[type="search"] {
    padding: 5px;
    outline: none;
}

.input-search-conjuring {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="search"] {
    outline: none;
    border: 1px solid #dddd;
    width: 100%;
    border: 10px 0 0 10px;
}

.btn-icon-search {
    padding: 5px;
    border-radius: 0 5px 5px 0;
}


.module-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px;
    background-color: var(--bg-fourth);
}

.module-container {
    width: 30%;
    margin-bottom: 32px;
    border-radius: 3px;
    box-shadow: 0px 5px 5px var(--box-shadow);
    background-color: var(--bg-primary);
}

.module-container p {
    text-align: center;
    font-size: small;
    padding: 10px;
}

.see-more {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}

.see-more button {
    padding: 5px 30px 5px 30px;
    border-radius: 3px;
    border: 1px solid var(--btn-primary);
    color: var(--text-primary);
}

.reactions {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
    background-color: var(--bg-fourth);
}

.module-name-and-date-wrapper button {
    background-color: var(--bg-fourth);
    padding: 5px;
}

.reactions p {
    font-size: small;
    text-align: left;
    padding: 0px;
}

.module-name-and-date-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.section-container {
    background-color: var();
    padding: 10px;
    background-color: var(--bg-fourth);
}

button {
    border-radius: 3px;
    border: none;
    background-color: var(--btn-tertiary);
}

button.btn-interested {
    background-color: var(--btn-primary);
    color: var(--bg-fourth);
    padding: 5px 10px 5px 10px;
}

h1 {
    color: var(--text-primary);
}

#btn_creation {
    background-color: var(--btn-secondary);
    color: var(--bg-fourth);
    padding: 5px 20px 5px 20px;
    float: right;
}