header {
    width: 100%;
    height: 50px;
    background-color: var(--bg-primary);
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: sticky;
    top: 0;
    transition: top .3s ease-in-out;
}

header .left-part {
    width: 45%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container-nav-links {
    width: 65%;
    max-width: 500px;
    height: 100%;
    margin-left: -60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .container-nav-links .nav-link {
    height: 100%;
    margin: 0 5px;
    width: 150px;
    min-width: 100px;
    outline: none;
    /* background-color: red; */
    color: var(--text-primary);
    border-bottom: 3px solid transparent;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .nav-link.active {
    background-color: var(--bg-fourth);
    border-bottom: 3px solid var(--text-primary);
}

header .container-nav-links .nav-link:hover {
    background-color: var(--bg-fourth);
    /* border-bottom: 3px solid var(--box-shadow); */
}

header .container-tools {
    width: 30%;
    /* max-width: 400px; */
    height: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container-search-bar {
    /* width: 70%; */
    width: 250px;
    min-width: 250px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--bg-fourth);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .container-search-bar input {
    width: 88%;
    height: 30px;
    padding-left: 5px;
    background-color: transparent;
    border: none;
    outline: none;
}

header .container-search-bar .btn-search {
    height: 100%;
    width: 30px;
    background-color: var(--box-shadow);
    border-radius: 0px 5px 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container-search-bar img {
    font-size: medium;
}

header .profil-user {
    /* width: 150px; */
    margin-left: 40px;
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

header .profil-user p.fullname {
    width: max-content;
    /* max-width: 60%; */
    background-color: white;
    display: flex;
    flex-direction: row;
}

header .profil-user p.fullname span:nth-child(1) {
    /* width: max-content; */
    /* max-width: 10ch; */
    overflow-x: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    /* background-color: blue; */
}

header .profil-user .acronym-user {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
    color: var(--text-primary);
    margin-right: 5px;
    background-color: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header .profil-user form {
    width: 200px;
    padding-top: 10px;
    border-radius: 5px;
    border-top: .5px solid var(--box-shadow);
    box-shadow: 0px 5px 5px var(--box-shadow);
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -7px;
    top: 42px;
}

header .profil-user form .arrow {
    width: 15px;
    height: 15px;
    border-top: .5px solid var(--box-shadow);
    border-left: .5px solid var(--box-shadow);
    background-color: var(--bg-primary);
    transform: rotate(45deg);
    position: absolute;
    top: -8px;
    right: 15px;
}

header .profil-user form img {
    width: 60px;
    padding: 5px;
    border-radius: 5px;
}

header .profil-user form .username {
    margin-bottom: 10px;
}

header .profil-user form button {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
}

header .container-btn-to-submit-login {
    width: 290px;
    display: flex;
    justify-content: space-between;
}

header .container-btn-to-submit-login button {
    padding: 5px 35px;
    border-radius: 3px;
    cursor: pointer;
}

header .btn-inscription {
    color: var(--btn-primary);
    border: .5px solid var(--btn-primary);
    background-color: var(--bg-primary);
}

header .btn-connection {
    color: var(--bg-primary);
    border: .5px solid var(--btn-primary);
    background-color: var(--btn-primary);
}

header {
    box-shadow: 0px 1px 15px var(--box-shadow);
}

