div.input-container {
    width: 80%;
    margin: 20px auto; 
    display: flex;
    flex-direction: column;
}

label {
    font-size: small;
    color: var(--text-primary);
}

input[type="text"], input[type="password"], input[type="email"] {
    background-color: var(--bg-fourth);
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 3px;
}

input[type="submit"] {
    padding: 8px;
    color: var(--bg-primary);
    background-color: var(--btn-primary);
    border: 1px solid var(--bg-primary);
    border-radius: 3px;
    cursor: pointer;
}

a {
    height: 30px;
    color: var(--bg-sixth);
    background-color: var(--bg-primary);
    border: 1px solid var(--bg-primary);
    border-radius: 3px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    border: .5px solid var(--bg-fifth);
    padding-left: 5px;
    outline: none;
}